*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 3em;
    background-color: #072432;
    justify-content: center;
    display: flex;
}

header img{
    float: right;
    width: 2.5em;
    margin-top: 0.2em;
}

header hgroup h6{
    font-family: 'Trebuchet MS';
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-left: 0.5em;
}

header hgroup h6 a{
    color: #E8EDF0;
    text-decoration: none;
}

nav{
    background-color: #E8EDF0;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav img{
    float: left;
    width: 10em;
    margin-left: 7em;
}

nav ul{
    margin-top: 3.2em;
    float: left;
}

nav ul li{
    display: inline-table;
}

nav ul li a{
    color: #072432;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 3em;
}

nav ul li a:hover{
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid #072432;
}

div.shopping{
    border: 0.13em solid #E8EDF0;
    float: right;
    margin-top: 2.5em;
    margin-right: 7em;
    margin-left: 3.5em;
    padding-left: 0.7em;
    padding-right: 1em;
}

div.shopping:hover{
    border: 0.13em solid #072432;
}

div.shopping h4{
    font-size: 2.5em;
    font-family: 'Trebuchet MS';
    float: left;
    color: #072432;
}

div.shopping img{
    width: 2em;
    margin-left: 1em;
    margin-top: 0.5em;
}

aside.shipping{
    background-color: #072432;
    font-family: 'Trebuchet MS';
    justify-content: center;
    color: #E8EDF0;
    display: flex;
}

aside.shipping p{
    padding-top: 1.8em;
}

aside.shipping h1{
    padding-top: 0.2em;
    padding-left: 0.3em;
    font-size: 2.5em;
    padding-bottom: 0.2em;
}

aside.shipping img{
    padding-left: 1em;
    padding-top: 0.9em;
    width: 3em;
    height: 2em;
}

section{
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
}

section article.shoppingCart{
    padding-top: 5em;
    width: 20em;
    padding-left: 4em;
    padding-right: 3em;
    padding-bottom: 1em;
}

section article.shoppingCart div{
    border-bottom: 0.2em solid #072432;
    margin-bottom: 2.45em;
    margin-top: 0.5em;
}

section article.shoppingCart div h1{
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    padding-bottom: 0.1em;
}

section article.shoppingCart label{
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    text-align: left;
}

section article.shoppingCart select#country{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#name{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#phone{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#city{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#province{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#address1{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#address2{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#postalcode{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#nif{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#card{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#card::-webkit-inner-spin-button, 
section article.shoppingCart input#card::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

section article.shoppingCart input#month{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#cvv{
    outline: 0;
    border: 0.1em solid #072432;
    border: 0;
    border-bottom: 0.1em solid #072432;
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    width: 16.3em;
    opacity: 0.5;
}

section article.shoppingCart input#cvv::-webkit-inner-spin-button, 
section article.shoppingCart input#cvv::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

section article.shoppingCart input#continue{
    outline: 0;
    border: 0.1em solid #072432;
    color: #E8EDF0;
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    background-color: #072432;
    padding: 0.3em;
    margin-top: 1em;
    border-radius: 0.5em;
    width: 100%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out 0s;
}

section article.shoppingCart input#continue:hover{
    opacity: 1;
}

section article.shoppingCart input#freeShipping{
    float: left;
    margin-top: 0.25em;
}

section article.shoppingCart input#standarShipping{
    float: left;
    margin-top: 0.25em;
}

section article.shoppingCart input#premiumShipping{
    float: left;
    margin-top: 0.25em;
}

section article.shoppingCart p{
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1em;
    padding-left: 1.9em;
}

section article.shoppingCart p#day1{
    padding-bottom: 1.9em;
}

section article.shoppingCart p#day2{
    padding-bottom: 1.9em;
}

section article.shoppingCart p#day3{
    padding-bottom: 1.9em;
}

section article.pay{
    width: 20em;
    padding-left: 4em;
    padding-top: 5.5em;
    padding-right: 3em;
}

section article.pay div{
    border-bottom: 0.2em solid #072432;
}

section article.pay div h1{
    color: #072432;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    padding-bottom: 0.1em;
}

section article.pay table{
    padding-top: 2em;
}

section article.pay table tr th{
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1em;
    padding-right: 2.7em;
}

section article.pay table tr td{
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    text-align: right;
    padding-bottom: 1em;
}

aside.sponsor{
    background-color: #E8EDF0;
    justify-content: center;
    text-align: center;
    height: 4em;
    padding-top: 0.8em;
}

aside.sponsor a img#adidas{
    width: 4.3em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#adidas:hover{
    opacity: 1;
}

aside.sponsor a img#hummel{
    width: 5em;
    /* padding-top: 0.8em; */
    padding-bottom: 0.8em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#hummel:hover{
    opacity: 1;
}

aside.sponsor a img#joma{
    width: 5em;
    padding-bottom: 0.3em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#joma:hover{
    opacity: 1;
}

aside.sponsor a img#kappa{
    width: 6em;
    padding-left: 1em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#kappa:hover{
    opacity: 1;
}

aside.sponsor a img#kelme{
    width: 3em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#kelme:hover{
    opacity: 1;
}

aside.sponsor a img#macron{
    width: 2.2em;
    padding-bottom: 0.15em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#macron:hover{
    opacity: 1;
}

aside.sponsor a img#newbalance{
    width: 4.5em;
    padding-bottom: 0.3em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#newbalance:hover{
    opacity: 1;
}

aside.sponsor a img#nike{
    width: 5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#nike:hover{
    opacity: 1;
}

aside.sponsor a img#puma{
    width: 3.5em;
    padding-top: 0.2em;
    padding-left: 2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#puma:hover{
    opacity: 1;
}

footer{
    background-color: #072432;
    text-align: center;
    padding-bottom: 1.5em;
}

footer img{
    width: 13em;
}

footer ul{
    display: inline-block;
}

footer ul li{
    list-style: none;
    float: left;
}

footer ul li a img{
    width: 2.3em;
    padding: 0.4em;
}

footer p{
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 0.6em;
}




