*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 3em;
    margin: 0 auto;
    background-color: #072432;
}

header hgroup h6{
    float: right;
    text-align: right;
    font-family: 'Trebuchet MS';
    font-size: 1em;
    margin-top: 0.8em;
    margin-right: 0.5em;
}

header hgroup h6 a{
    color: #E8EDF0;
    text-decoration: none;
}

header hgroup img{
    float: right;
    width: 2.5em;
    margin-top: 0.2em;
    margin-right: 10em;
}

nav{
    height: 12em;
    background-color: #E8EDF0;
    margin: 0 auto;
}

nav img{
    float: left;
    width: 10em;
    margin-left: 10em;
    margin-top: 1.8em;
}

nav ul{
    float: left;
}

nav ul li{
    display: inline-block;
    margin-top: 5.2em;

}

nav ul li a{
    color: #072432;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 3em;
}

nav ul li a:hover{
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid #072432;
}

div.shopping{
    border: 0.15em solid #072432;
    float: right;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 4.5em;
    margin-right: 10em;
}

div.shopping h4{
    font-size: 2.5em;
    font-family: 'Trebuchet MS';
    float: left;
    color: #072432;
}

div.shopping img{
    width: 2em;
    margin: 0;
    margin-left: 1em;
    margin-top: 0.5em;
}

section article{
    margin-bottom: 5em;
}

section article table{
    margin: 0 auto;
    
}

section article table tr td a img{
    background-color: #072432;
    height: 21.4em;
}

footer{
    margin-top: 40px;
    background-color: #072432;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

footer img{
    width: 13em;
}

footer ul{
    display: inline-block;
}

footer ul li{
    list-style: none;
    float: left;
    padding: 5px;
}

footer ul li a img{
    width: 2em;
}

footer p{
    margin: auto;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 0.7em;
}


