*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 3em;
    margin: 0 auto;
    background-color: #072432;
}

header hgroup h6{
    float: right;
    text-align: right;
    font-family: 'Trebuchet MS';
    font-size: 1em;
    margin-top: 0.8em;
    margin-right: 0.5em;
}

header hgroup h6 a{
    color: #E8EDF0;
    text-decoration: none;
}

header hgroup img{
    float: right;
    width: 2.5em;
    margin-top: 0.2em;
    margin-right: 10em;
}

nav{
    height: 12em;
    background-color: #E8EDF0;
    margin: 0 auto;
}

nav img{
    float: left;
    width: 10em;
    margin-left: 10em;
    margin-top: 1.8em;
}

nav ul{
    float: left;
}

nav ul li{
    display: inline-block;
    margin-top: 5.2em;

}

nav ul li a{
    color: #072432;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 3em;
}

nav ul li a:hover{
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid #072432;
}

div.shopping{
    border: 0.15em solid #072432;
    float: right;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 4.5em;
    margin-right: 10em;
}

div.shopping h4{
    font-size: 2.5em;
    font-family: 'Trebuchet MS';
    float: left;
    color: #072432;
}

div.shopping img{
    width: 2em;
    margin: 0;
    margin-left: 1em;
    margin-top: 0.5em;
}

section article{
    margin: auto;
    width: 76em;
    height: 20em;
    position: static;
    margin-top: 5em;
    margin-bottom: 8em;
}

section article div.jerseys{
    height: 20em;
    float: left;
    text-align: center;
}

section article div.jerseys img{
    width: 14em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: block;
}

section article div.jerseys button.next{
    outline: 0;
    background-color: #E8EDF070;
    color: rgb(7, 36, 50);
    border: 0;
    width: 18em;
    padding: 0.3em;
}

section article div.jerseys button.previous{
    outline: 0;
    background-color: #E8EDF070;
    color: rgb(7, 36, 50);
    border: 0;
    width: 18em;
    padding: 0.3em;
}

section article div.information{
    padding-left: 1.5em;
    padding-top: 1.5em;
    width: 42em;
    height: 18.5em;
    float: right;
}

section article div.information h3{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 1.5em;
}

section article div.information h1{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 3em;
}

section article div.information label{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 1em;
}

section article div.information select#size{
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 9.3em;
    padding-left: 0.5em;
    padding: 0.3em;
    padding-right: 4em;
    margin-bottom: 1em;
}

section article div.information select#badge{
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 8em;
    padding-left: 0.5em;
    padding: 0.3em;
    padding-right: 4em;
    margin-bottom: 1em;
}

section article div.information #name{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 2.9em;
    padding: 0.3em;
    width: 15em;
    margin-bottom: 1em;
}

section article div.information #number{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 2em;
    padding: 0.3em;
    margin-bottom: 1em;
    width: 10em;
}

section article div.information #number::-webkit-inner-spin-button, 
section article div.information #number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
  
section article div.information button#subtract{
    margin-left: 4.2em;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #072432;
    font-size: 1em;
}

section article div.information #quantity{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding: 0.3em;
    margin-bottom: 1em;
}

section article div.information #quantity::-webkit-inner-spin-button, 
section article div.information #quantity::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

section article div.information button#add{
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #072432;
    font-size: 1em;
}

section article div.shoppingCart{
    width: 12em;
    float: right;
}

section article div.shoppingCart a{
    text-decoration: none;
}

section article div.shoppingCart a div#addToCart{
    background-color: rgb(232, 237, 240);
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 1.7em;
    color: rgb(7, 36, 50);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    text-decoration: none;
}

section article div.shoppingCart a div#buyNow{
    background-color: rgb(7, 36, 50);
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 1.7em;
    color: rgb(232, 237, 240);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

footer{
    margin-top: 40px;
    background-color: #072432;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

footer img{
    width: 13em;
}

footer ul{
    display: inline-block;
}

footer ul li{
    list-style: none;
    float: left;
    padding: 5px;
}

footer ul li a img{
    width: 2em;
}

footer p{
    margin: auto;
    padding-bottom: 20px;
    color: #E8EDF0;
    font-family: Trebuchet MS;
    font-size: 0.7em;
}