*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 3em;
    background-color: #072432;
    justify-content: center;
    display: flex;
}

header img{
    float: right;
    width: 2.5em;
    margin-top: 0.2em;
}

header hgroup h6{
    font-family: 'Trebuchet MS';
    font-size: 1.1em;
    margin-top: 0.6em;
    margin-left: 0.5em;
}

header hgroup h6 a{
    color: #E8EDF0;
    text-decoration: none;
}

nav{
    background-color: #E8EDF0;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav img{
    float: left;
    width: 10em;
    margin-left: 7em;
}

nav ul{
    margin-top: 3.2em;
    float: left;
}

nav ul li{
    display: inline-table;
}

nav ul li a{
    color: #072432;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 3em;
}

nav ul li a:hover{
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid #072432;
}

div.shopping{
    border: 0.13em solid #E8EDF0;
    float: right;
    margin-top: 2.5em;
    margin-right: 7em;
    margin-left: 3.5em;
    padding-left: 0.7em;
    padding-right: 1em;
}

div.shopping:hover{
    border: 0.13em solid #072432;
}

div.shopping h4{
    font-size: 2.5em;
    font-family: 'Trebuchet MS';
    float: left;
    color: #072432;
}

div.shopping img{
    width: 2em;
    margin-left: 1em;
    margin-top: 0.5em;
}

aside.shipping{
    background-color: #072432;
    font-family: 'Trebuchet MS';
    justify-content: center;
    color: #E8EDF0;
    display: flex;
    height: 4em;
}

aside.shipping p{
    padding-top: 1.8em;
}

aside.shipping h1{
    padding-top: 0.2em;
    padding-left: 0.3em;
    font-size: 2.5em;
}

aside.shipping img{
    padding-left: 1em;
    padding-top: 0.9em;
    width: 3em;
    height: 2em;
}

section article{
    margin: auto;
    width: 76em;
    height: 20em;
    position: static;
    margin-top: 5em;
    margin-bottom: 8em;
}

section article div.jerseys{
    height: 20em;
    float: left;
    text-align: center;
}

section article div.jerseys img{
    width: 14em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: block;
}

section article div.jerseys button.next{
    outline: 0;
    background-color: #E8EDF070;
    color: rgb(7, 36, 50);
    border: 0;
    width: 18em;
    padding: 0.3em;
}

section article div.jerseys button.previous{
    outline: 0;
    background-color: #E8EDF070;
    color: rgb(7, 36, 50);
    border: 0;
    width: 18em;
    padding: 0.3em;
}

section article div.information{
    padding-left: 1.5em;
    padding-top: 4.5em;
    width: 42em;
    height: 18.5em;
    float: right;
}

section article div.information h3{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 1.5em;
}

section article div.information h1{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 3em;
}

section article div.information label{
    font-family: "Trebuchet MS";
    color: #072432;
    font-size: 1em;
}

section article div.information select#size{
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 9.3em;
    padding-left: 0.5em;
    padding: 0.3em;
    padding-right: 4em;
    margin-bottom: 1em;
}

section article div.information select#badge{
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 8em;
    padding-left: 0.5em;
    padding: 0.3em;
    padding-right: 4em;
    margin-bottom: 1em;
}

section article div.information #name{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 2.9em;
    padding: 0.3em;
    width: 15em;
    margin-bottom: 1em;
}

section article div.information #number{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 7.2em;
    padding: 0.3em;
    margin-bottom: 1em;
    width: 10em;
}

section article div.information #number::-webkit-inner-spin-button, 
section article div.information #number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
  
section article div.information button#subtract{
    margin-left: 4.2em;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #072432;
    font-size: 1em;
}

section article div.information #quantity{
    text-align: center;
    outline: 0;
    border: 0.01em solid #0724322b;
    color: #072432;
    font-family: "Trebuchet MS";
    background-color: transparent;
    margin-left: 0.4em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding: 0.3em;
    margin-bottom: 1em;
}

section article div.information #quantity::-webkit-inner-spin-button, 
section article div.information #quantity::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

section article div.information button#add{
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #072432;
    font-size: 1em;
}

section article div.shoppingCart{
    width: 12em;
    float: right;
    padding-top: 2.5em;
}

section article div.shoppingCart a{
    text-decoration: none;
}


section article div.shoppingCart a div#addToCart{
    background-color: rgb(232, 237, 240);
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 1.7em;
    color: rgb(7, 36, 50);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    text-decoration: none;
    opacity: 0.5;
    transition: all 0.3s ease-in-out 0s;
}

section article div.shoppingCart a div#addToCart:hover{
    opacity: 1;
}

section article div.shoppingCart a div#buyNow{
    background-color: rgb(7, 36, 50);
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 1.7em;
    color: rgb(232, 237, 240);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease-in-out 0s;
}

section article div.shoppingCart a div#buyNow:hover{
    opacity: 1;
}


aside.sponsor{
    background-color: #E8EDF0;
    justify-content: center;
    display: flex;
    height: 4em;
    padding-top: 0.8em;
}

aside.sponsor a img#adidas{
    width: 4.3em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#adidas:hover{
    opacity: 1;
}

aside.sponsor a img#hummel{
    width: 5em;
    padding-top: 0.8em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#hummel:hover{
    opacity: 1;
}

aside.sponsor a img#joma{
    width: 5em;
    padding-top: 0.5em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#joma:hover{
    opacity: 1;
}

aside.sponsor a img#kappa{
    width: 6em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#kappa:hover{
    opacity: 1;
}

aside.sponsor a img#kelme{
    width: 3em;
    padding-top: 0.1em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#kelme:hover{
    opacity: 1;
}

aside.sponsor a img#macron{
    width: 2.2em;
    padding-top: 0.3em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#macron:hover{
    opacity: 1;
}

aside.sponsor a img#newbalance{
    width: 4.5em;
    padding-top: 0.3em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#newbalance:hover{
    opacity: 1;
}

aside.sponsor a img#nike{
    width: 5em;
    padding-top: 0.6em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#nike:hover{
    opacity: 1;
}

aside.sponsor a img#puma{
    width: 3.5em;
    padding-top: 0.2em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

aside.sponsor a img#puma:hover{
    opacity: 1;
}

footer{
    background-color: #072432;
    text-align: center;
    padding: 10px;
}

footer img{
    width: 13em;
}

footer ul{
    display: inline-block;
}

footer ul li{
    list-style: none;
    float: left;
    padding: 5px;
}

footer ul li a img{
    width: 2em;
}

footer p{
    margin: auto;
    padding-bottom: 20px;
    color: #E8EDF0;
    font-family: Trebuchet MS;
    font-size: 0.7em;
}